<div id="cookie-banner">
    <div class="cookie-text">
        {% if page.lang == 'eus' %}
        Cookie propioak eta hirugarrenenak erabiltzen ditugu gure zerbitzuak hobetzeko eta zure nabigazio-ohiturak aztertuz zure lehentasunekin lotutako publizitatea erakusteko. Nabigatzen jarraitzen baduzu, haien erabilera onartzen duzula uste dugu. Informazio gehiago lor dezakezu gure <a href="{{ '/eus/politica-cookies.html' | relative_url }}">Cookien Politikan</a>.
        {% else %}
        Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarle publicidad relacionada con sus preferencias mediante el análisis de sus hábitos de navegación. Si continúa navegando, consideramos que acepta su uso. Puede obtener más información en nuestra <a href="{{ '/es/politica-cookies.html' | relative_url }}">Política de Cookies</a>.
        {% endif %}
    </div>
    <div class="cookie-buttons">
        <button id="accept-cookies">{% if page.lang == 'eus' %}Onartu{% else %}Aceptar{% endif %}</button>
        <button id="decline-cookies">{% if page.lang == 'eus' %}Ukatu{% else %}Rechazar{% endif %}</button>
    </div>
</div>
